{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block loginRegister %}

    <body id="LoginForm">
    <div class="container">
        <div class="login-form">
            <div class="main-div-register">
                <div class="panel">
                    <h2>Registration</h2>
                    <p>Create new account now!</p>
                </div>


                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.firstName, {'attr':{class: 'form-control'}}) }}
                    {{ form_row(registrationForm.lastName, {'attr':{class: 'form-control'}}) }}
                    {{ form_row(registrationForm.email, {'attr':{class: 'form-control'}}) }}
                    {{ form_row(registrationForm.plainPassword.first, {'attr':{class: 'form-control'}}) }}
                    {{ form_row(registrationForm.plainPassword.second, {'attr':{class: 'form-control'}}) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.avatar) }}
                    <br><br>
                    <button class="btn btn-primary">Register</button>
                    {{ form_end(registrationForm) }}

                <hr>
                <div class="registration">
                    You already have account?<br/>
                    <a class="" href="{{ path('app_login')}}">
                        Sign in here
                    </a>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
