
{% extends 'base.html.twig' %}





{% block title %}
Main page
{% endblock %}
{% block body %}

    {% if not app.user %}

        <a class="logout" href="{{ path('app_login') }}"> <h1>You are not logged in</h1></a>

    {% else %}
     <head>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta name="description" content="">
         <meta name="author" content="Dashboard">
         <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
         <title>Dashio - Bootstrap Admin Template</title>



     </head>


    <body>
    <section id="container">
        <!-- **********************************************************************************************************************************************************
            TOP BAR CONTENT & NOTIFICATIONS
            *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="{{ path('index_page') }}" class="logo"><b>PROJECT<span>MANAGER</span></b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Dashio Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>


                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="img/ui-sherman.jpg"></span>
                                    <span class="subject">
                  <span class="from">Dj Sherman</span>
                  <span class="time">4 hrs.</span>
                  </span>
                                    <span class="message">
                  Please, answer asap.
                  </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    <!-- notification dropdown start-->
                    <li id="header_notification_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge bg-warning">7</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-yellow"></div>
                            <li>
                                <p class="yellow">You have 7 new notifications</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    Server Overloaded.
                                    <span class="small italic">4 mins.</span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="label label-warning"><i class="fa fa-bell"></i></span>
                                    Memory #2 Not Responding.
                                    <span class="small italic">30 mins.</span>
                                </a>
                            </li>

                            <li>
                                <a href="index.html#">
                                    <span class="label label-success"><i class="fa fa-plus"></i></span>
                                    New User Registered.
                                    <span class="small italic">3 hrs.</span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- notification dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    {% if app.user %}
                    <li><a class="logout" href="{{ path('app_logout') }}">Logout</a></li>
                    {% else %}
                    <li><a class="logout" href="{{ path('app_register') }}">Register</a></li>
                    <li><a class="logout"  href="{{ path('app_login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
            MAIN SIDEBAR MENU
                   {#{% if is_granted('ROLE_MANAGER') %}#}
                    {#<li><a class="logout"  href="{{ path('project_index') }}">New Project</a></li>#}


            *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <!--Logged user here -->
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
                    <h5 class="centered">{{ user.firstName }} {{ user.lastName }}</h5>

                    <li class="mt">
                        <a class="active btn btn-success btn-lg" data-toggle="modal" data-target="#projectForm">
                            <i class="fa fa-plus-circle"></i>
                            <span>Add Project</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-plus-circle"></i>
                            <span>UI Elements</span>
                        </a>
                        <ul class="sub">
                            <li><a href="general.html">General</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="panels.html">Panels</a></li>
                            <li><a href="font_awesome.html">Font Awesome</a></li>
                        </ul>
                    </li>

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
            MAIN CONTENT
            *********************************************************************************************************************************************************** -->
        <!--main content start-->



        <div class="modal fade" id="projectForm" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add New Project</h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                       <div class="container-fluid">
                           {{ form_start(form) }}
                           <div class="col-md-6">
                               <div class="row">
                                   <p>{{ form_label(form.name) }}</p>
                                   {{ form_widget(form.name) }}

                               </div>
                               <br>
                               <div class="row">

                                   {{ form_row(form.deadline) }}
                               </div>
                           </div>
                           <div class="col-md-6">
                               <div class="row">
                                   <div class="row js-project-status-wrapper"
                                        data-prototype="{{ form_widget(form.projectStatus.vars.prototype)|e('html_attr') }}"
                                        data-index="{{ form.projectStatus|length }}">

                                       <a href="#" class="js-project-status-add">
                                           <span class="fa fa-plus-circle"></span>
                                           Add  Project Status
                                       </a>
                                   </div>
                               </div>

                           </div>
                       </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn" formnovalidate>Add</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-9 main-chart">
                            <!--Main content column start -->


                            <div class="row mt">
                                {% for project in user.project %}
                                <!--Main content row -->
                                <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                    <div class="product-panel-2 pn">
                                        <h5 class="mt"><br>{{ project.name }}</h5>
                                        <h6>{{ project.createdAt|date }}</h6>
                                     <a href="{{  path('project_view', {'id': project.id}) }}">  <button class="btn btn-small btn-theme04" >See More</button></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>


                    </div>
                    <!-- **********************************************************************************************************************************************************
                        RIGHT SIDEBAR CONTENT
                        *********************************************************************************************************************************************************** -->
                    <div class="col-lg-3 ds">
                        <!-- RECENT ACTIVITIES SECTION -->
                        <h4 class="centered mt">RECENT ACTIVITY</h4>
                        <!-- First Activity -->
                        <div class="desc">
                            <div class="thumb">
                                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                            </div>
                            <div class="details">
                                <p>
                                    <muted>Just Now</muted>
                                    <br/>
                                    <a href="#">Paul Rudd</a> purchased an item.<br/>
                                </p>
                            </div>
                        </div>

                        <!-- USERS ONLINE SECTION -->
                        <h4 class="centered mt">TEAM MEMBERS ONLINE</h4>
                        <!-- First Member -->
                        <div class="desc">
                            <div class="thumb">
                                <img class="img-circle" src="img/ui-divya.jpg" width="35px" height="35px" align="">
                            </div>
                            <div class="details">
                                <p>
                                    <a href="#">DIVYA MANIAN</a><br/>
                                    <muted>Available</muted>
                                </p>
                            </div>
                        </div>

                    </div>
                    <!-- /col-lg-3 -->
                </div>
                <!-- /row -->
            </section>
        </section>
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">

        </footer>
        <!--footer end-->
    </section>


    </body>

    </html>
{% endif %}
{% endblock  %}