{% extends 'base.html.twig' %}
{% block title %}
    Main page
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>My Projects</h1>
            </div>
            <div class="col">
                <a class="btn btn-success float-right" data-toggle="modal" data-target="#projectForm">
                    <i class="fa fa-plus-circle"></i>
                    <span>Add New Project</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for project in user.project %}
                <div class="col-3">
                    <div class="card text-white bg-info mb-3">
                        <span class="project-icon text-center"><i class="fa fa-tasks"></i></span>
                        <div class="card-body">
                            <h5 class="card-title">{{ project.name }}</h5>
                            <p class="card-text">{{ project.createdAt|date }}</p>
                            <a href="{{  path('project_view', {'id': project.id}) }}" class="btn btn-primary">Open Project</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="projectForm" tabindex="-1" role="dialog" aria-labelledby="projectFormTitle" aria-hidden="true">
        {{ form_start(form) }}
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                {{ form_widget(form.name) }}
                                {{ form_row(form.deadline) }}
                            </div>
                            <div class="col">
                                <div class="row js-project-status-wrapper"
                                     data-prototype="{{ form_widget(form.projectStatus.vars.prototype)|e('html_attr') }}"
                                     data-index="{{ form.projectStatus|length }}">
                                    <a href="#" class="js-project-status-add">
                                        <span class="fa fa-plus-circle"></span>
                                        Add  Project Status
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save project</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock  %}