{% extends 'base.html.twig' %}


{% block title %}
    Profile page
{% endblock %}
{% block body %}

    <h1>Edit my account</h1>

    <div class="container">

        {{ form_start(updateForm) }}
        {{ form_row(updateForm.firstName, {'attr':{class: 'form-control'}}) }}
        {{ form_row(updateForm.lastName, {'attr':{class: 'form-control'}}) }}
        {{ form_row(updateForm.email, {'attr':{class: 'form-control'}}) }}
        {{ form_row(updateForm.plainPassword.first, {'attr':{class: 'form-control'}}) }}
        {{ form_row(updateForm.plainPassword.second, {'attr':{class: 'form-control'}}) }}
        {{ form_row(updateForm.plainPassword, {'attr':{class: 'form-control'}}) }}
        {{ form_row(updateForm.avatar, {'attr':{class: 'form-control'}}) }}
        <br><br>
        <button type="submit" class="btn btn-primary">Update</button>
        {{ form_end(updateForm) }}

    </div>


{% endblock %}