{% extends 'base.html.twig' %}
{% block userHoursSidebar %}
    <li><i class="fa fa-users"></i><a href="#" data-toggle="modal" data-target="#filterForm">Filter</a></li>
{% endblock %}
{% block userHoursNav %}
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a href="{{ path('hours_management') }}" class="nav-link">Back To Management</a>
        </li>
    </ul>
{% endblock %}
{% block title %}
    User Hours Management
{% endblock %}
{% block body %}


    <div class="container-fluid">
        <div class="row">


            <div class="col-9">
                <h1>Commits For This User</h1>

                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task Name</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Hours</th>
                        <th scope="col">Billable</th>
                        <th scope="col">Added At</th>
                        <th scope="col">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hoursForUser in hoursForUser %}


                        <tr>
                            <th scope="row">{{ hoursForUser.id }}</th>
                            <td>{{ hoursForUser.task.name }}</td>
                            <td>{{ hoursForUser.project.name }}</td>
                            <td>{{ hoursForUser.hours }} Hours</td>
                            <td>
                                {% if hoursForUser.billable == true %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td>{{ hoursForUser.addedAt|date }}</td>
                            <td><a href="{{ path('edit_user_hours', {'id': hoursForUser.id}) }}">Edit</a> </td>

                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                <h4>Total Time Spent By This User: {{ total }} Hours</h4>
            </div>
        </div>
        <hr>
    </div>

    <div class="modal fade" id="filterForm" tabindex="-1" role="dialog" aria-labelledby="filterFormTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                {{ form_start(searchForm) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Filter Results by project and time</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                {{ form_row(searchForm.project, {'attr':{class: 'form-control'}}) }}
                                {{ form_row(searchForm.date, {'attr':{class: 'form-control'}}) }}
                                {{ form_row(searchForm.billable, {'attr':{class: 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Find</button>
                </div>
                {{ form_end(searchForm) }}
            </div>
        </div>
    </div>

{% endblock %}