{% extends 'base.html.twig' %}

{% block title %}
    User Hours Management
{% endblock %}
{% block body %}


    <div class="container-fluid">
        <div class="row">
            {{ form_start(searchForm) }}
            {{ form_end(searchForm) }}

            <div class="col-9">
                <h1>Commits For This User</h1>

                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task Name</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Hours</th>
                        <th scope="col">Billable</th>
                        <th scope="col">Added At</th>
                        <th scope="col">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hoursForUser in hoursForUser %}


                        <tr>
                            <th scope="row">{{ hoursForUser.id }}</th>
                            <td>{{ hoursForUser.task.name }}</td>
                            <td>{{ hoursForUser.project.name }}</td>
                            <td>{{ hoursForUser.hours }} Hours</td>
                            <td>
                                {% if hoursForUser.billable == true %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td>{{ hoursForUser.addedAt|date }}</td>
                            <td><a href="{{ path('edit_user_hours', {'id': hoursForUser.id}) }}">Edit</a> </td>

                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                <h4>Total Time Spent By This User: {{ total }} Hours</h4>
            </div>
        </div>
        <hr>
    </div>

{% endblock %}