{% extends 'base.html.twig' %}

{% block title %}
    Project page
{% endblock %}
{% block body %}


<h1>Discussions</h1>
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
            <th scope="col">Delete</th>
            <th scope="col">Convert To Task</th>
        </tr>
        </thead>
        <tbody>
            {% for discussion in project.discussions %}
                <tr id = discussion-{{ discussion.id }}>
                    <th scope="row">{{ discussion.id }}</th>
                    <td><a href="{{ path('discussion_view', {'id': discussion.id}) }}">{{ discussion.name }}</a> </td>
                    <td>{{ discussion.createdBy }}</td>
                    <td>{{ discussion.createdAt|date("F jS \\a\\t g:ia") }}</td>
                    <td>
                    <a href="{{ path('discussion_delete', {'id': discussion.id}) }}" class="btn btn-danger removeDiscussion">
                    <i class="fa fa-trash"></i>
                    </a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}