{% extends 'base.html.twig' %}
{% block projectSidebar %}
    <li><i class="fa fa-users"></i><a href="#" data-toggle="modal" data-target="#taskForm">Add Task</a></li>
    <li><i class="fa fa-users"></i><a href="#" data-toggle="modal" data-target="#assignDevForm">Assign Developer</a></li>
    <li><i class="fa fa-users"></i><a href="#" data-toggle="modal" data-target="#addStatusForm">Add New Status</a></li>
{% endblock %}
{% block myTasks %}
    <li><i class="fa fa-folder"></i><a href="{{ path('my_tasks', {'id': project.id}) }}">My Tasks</a></li>
{% endblock %}
{% block title %}
    Project page
{% endblock %}
{% block body %}


    <div class="container-fluid">
        <div class="row">

            <div class="col-9">
                <h1>Tasks</h1>
                {% for status in project.projectStatus %}
                    <div class="card border-secondary">
                        <div class="card-header">{{ status.name }}</div>
                        <div class="card-body text-secondary">
                            <table class="table table-hover table-sm" id="js-table-status-{{ status.id }}">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Assigned developers</th>
                                    <th scope="col">Priority </th>
                                    <th scope="col">Created</th>
                                    <th scope="col"></th>
                                    <th scope="col">Complete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for task in project.task %}
                                    {% if task.completed == 0 %}
                                    {% if task.status.id == status.id  %}

                                        <tr id="task-{{ task.id }}">
                                            <th scope="row">{{ task.id }}</th>
                                            <td><a href="{{ path('task_view', {'id': task.id}) }}">{{ task.name }}</a></td>
                                            <td>
                                                {% for user in task.users %}
                                                    {{ user.fullName }}<br>
                                                {% endfor %}
                                            </td>
                                            <td>{{ task.priority }}</td>
                                            <td>{{ task.createdat|date("F jS \\a\\t g:ia") }}</td>
                                            {% if is_granted("ROLE_MANAGER") %}
                                                <td>

                                                    <select class="js-status-change">
                                                        {% for status in project.projectStatus  %}

                                                            {% set selected = '' %}
                                                            {% if (status.id == task.status.id) %}
                                                                {% set selected = 'selected' %}
                                                            {% endif %}
                                                            <option {{ selected }} data-change_status="{{ path('status_change', {'id': task.id, 'status_id' : status.id }) }}" value="{{ status.id }}">{{status.name }}</option>
                                                        {% endfor %}
                                                    </select>

                                                </td>
                                                {#<td>#}
                                                    {#<a href="{{ path('task_delete', {'id': task.id}) }}" class="btn btn-danger removeTask">#}
                                                        {#<i class="fa fa-trash"></i>#}
                                                    {#</a>#}
                                                {#</td>#}
                                                <td>
                                                    <a href="{{ path('task_completed', {'id': task.id}) }}" >
                                                        <i class="fa fa-check-square-o" style="font-size:40px"></i>
                                                    </a>

                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                    {% endif %}

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>

                {% endfor %}
            </div>
            <div class="col-3">


                {% if devs is not empty %}
                    <h4>People working on this project</h4>
                    <table class="table table-hover">
                        {% for dev in devs %}
                            <tr>
                                {% if dev.avatar is not empty %}
                                <td scope="col" width="35"><img class="img-circle" src="{{ asset('uploads/')~dev.avatar }}" width="35px" height="35px" align=""></td>
                                {% else %}
                                 <td scope="col" width="35" ><i class="fa fa-user fa-lg"></i></td>
                                 {% endif %}
                                <td scope="col">
                                    <a href="{{ path('developer_tasks', {'id': project.id, 'dev_id' : dev.id }) }}" >
                                  {{ dev.fullName }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>



        </div>
    </div>




    <div class="modal fade" id="taskForm" tabindex="-1" role="dialog" aria-labelledby="projectFormTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                {{ form_start(taskForm) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                {{ form_row(taskForm.name, {'attr':{class: 'form-control'}}) }}
                                {{ form_row(taskForm.content, {'attr':{class: 'form-control'}}) }}
                                {{ form_row(taskForm.status, {'attr':{class: 'form-control'}}) }}
                                {{ form_row(taskForm.priority, {'attr':{class: 'form-control'}}) }}
                                {{ form_row(taskForm.images, {'attr':{class: 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </div>
                {{ form_end(taskForm) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="assignDevForm" tabindex="-1" role="dialog" aria-labelledby="devFormTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                {{ form_start(devForm) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Assign developer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col" id="developer-selection">
                                <p>
                                    {% for user in devForm.users %}
                                        {{ form_row(user) }}
                                    {% endfor %}

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Assign developer</button>

                </div>
                {{ form_end(devForm) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="addStatusForm" tabindex="-1" role="dialog" aria-labelledby="devFormTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                {{ form_start(statusForm) }}
                                Status title:
                                {{ form_row(statusForm.name) }}
                                {{ form_row(statusForm._token) }}
                                {{ form_start(statusForm) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Status</button>

                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('completed_tasks', {'id': project.id}) }}" >
        Completed Tasks
    </a>

{% endblock %}