{% extends 'base.html.twig' %}
{% block projectSidebar %}
    <li><i class="fa fa-users"></i><a href="#" data-toggle="modal" data-target="#taskForm">Add Task</a></li>
    <li><i class="fa fa-users"></i><a href="#" data-toggle="modal" data-target="#assignDevForm">Assign Developer</a></li>
    <li><i class="fa fa-users"></i><a href="#" data-toggle="modal" data-target="#addStatusForm">Add New Status</a></li>
    <li><i class="fa fa-users"></i><a href="#" data-toggle="modal" data-target="#addDiscussionForm">Add New Discussion</a></li>
{% endblock %}
{% block myTasks %}
    <li><i class="fa fa-folder"></i><a href="{{ path('my_tasks', {'id': project.id}) }}">My Tasks</a></li>
{% endblock %}
{% block title %}
    Project page
{% endblock %}
{% block body %}


    <div class="container-fluid">


        <a href="{{ path('project_discussions', {'id': project.id}) }}" >
        Show all Discussions for this project
        </a>
        <br>

        <a href="{{ path('project_tasks', {'id': project.id}) }}" >
            Show all Tasks for this project
        </a>
    </div>




    <div class="modal fade" id="taskForm" tabindex="-1" role="dialog" aria-labelledby="projectFormTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                {{ form_start(taskForm) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                {{ form_row(taskForm.name, {'attr':{class: 'form-control'}}) }}
                                {{ form_row(taskForm.content, {'attr':{class: 'form-control'}}) }}
                                {{ form_row(taskForm.status, {'attr':{class: 'form-control'}}) }}
                                {{ form_row(taskForm.priority, {'attr':{class: 'form-control'}}) }}
                                {{ form_row(taskForm.images, {'attr':{class: 'form-control'}}) }}
                                {{ form_row(taskForm.estimate, {'attr':{class: 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </div>
                {{ form_end(taskForm) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="assignDevForm" tabindex="-1" role="dialog" aria-labelledby="devFormTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                {{ form_start(devForm) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Assign developer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col" id="developer-selection">
                                <p>
                                    {% for user in devForm.users %}
                                        {{ form_row(user) }}
                                    {% endfor %}

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Assign developer</button>

                </div>
                {{ form_end(devForm) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="addStatusForm" tabindex="-1" role="dialog" aria-labelledby="devFormTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                {{ form_start(statusForm) }}
                                Status title:
                                {{ form_row(statusForm.name) }}
                                {{ form_row(statusForm._token) }}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Status</button>

                </div>
                {{ form_end(statusForm) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="addDiscussionForm" tabindex="-1" role="dialog" aria-labelledby="discussionFormTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Discussion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                {{ form_start(discussionForm) }}
                                {{ form_row(discussionForm.name) }}
                                {{ form_row(discussionForm.content) }}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Discussion</button>

                </div>
                {{ form_end(discussionForm) }}
            </div>
        </div>
    </div>




{% endblock %}