{% extends 'base.html.twig' %}
{% block taskNav %}
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a href="{{ path('project_view', {'id': project.id}) }}" class="nav-link">Back To Project</a>
        </li>
    </ul>
{% endblock %}
{% block projectSidebar %}
    <li><i class="fa fa-users"></i><a href="#" data-toggle="modal" data-target="#addDiscussionForm">Add New Discussion</a></li>
{% endblock %}
{% block title %}
    Project page
{% endblock %}
{% block body %}


<h1>Discussions</h1>
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for discussion in project.discussions %}
                <tr id = discussion-{{ discussion.id }}>
                    <th scope="row">{{ discussion.id }}</th>
                    <td><a href="{{ path('discussion_view', {'id': discussion.id}) }}">{{ discussion.name }}</a> </td>
                    <td>{{ discussion.createdBy }}</td>
                    <td>{{ discussion.createdAt|date("F jS \\a\\t g:ia") }}</td>
                    <td>
                    <a href="{{ path('discussion_delete', {'id': discussion.id}) }}" class="btn btn-danger removeDiscussion">
                    <i class="fa fa-trash"></i>
                    </a>
                    </td>

                </tr>
            {% endfor %}

        </tbody>
    </table>

    <div class="modal fade" id="addDiscussionForm" tabindex="-1" role="dialog" aria-labelledby="discussionFormTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Discussion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                {{ form_start(discussionForm) }}
                                {{ form_row(discussionForm.name) }}
                                {{ form_row(discussionForm.content) }}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Discussion</button>

                </div>
                {{ form_end(discussionForm) }}
            </div>
        </div>
    </div>



{% endblock %}