{% extends 'base.html.twig' %}
{% block projectSidebar %}
    <li><i class="fa fa-users"></i><a href="#" data-toggle="modal" data-target="#devForm">Assign Developer</a></li>
{% endblock %}
{% block taskNav %}
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a href="{{ path('project_view', {'id':task.project.id}) }}" class="nav-link">Back To Project</a>
        </li>
        <li class="nav-item active">
            <a href="{{ path('subscribe_to_task', {'id':task.id}) }}" class="nav-link">Subscribe</a>
        </li>
    </ul>
{% endblock %}
{% block title %}
    Task page
{% endblock %}
{% block body %}
    {% for sub in subs %}
        {{ sub.userEmail }}
    {% endfor %}

    {% for devs in task.users %}
        {% if devs.email == user.email %}
            <a href="#" data-toggle="modal" data-target="#addHoursForm">Add Hours</a>
        {% endif %}
    {% endfor %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="card border-dark">
                    <div class="card-header">{{ task.name }}</div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ task.content|raw }}
                        </p>
                        {% if task.images is not empty %}
                            {% for image in task.images %}
                                <a href="#" class="pop" >
                                    <img id="imageresource"  src="{{ asset('uploads/')~image }}" width="200" height="200">
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <br>
                {% if task.comments is not empty %}

                    <div class="card border-light">
                        <div class="card-header">Discussion</div>
                        <div class="card-body">
                            {% for comment in task.comments %}
                                <p class="card-text">{{ comment.user.firstName }} {{ comment.user.lastName }} : {{ comment.content|raw }}</p>
                                {% for image in comment.images %}
                                    <a href="#" class="pop" >
                                        <img id="imageresource" src="{{ asset('uploads/')~image }}" width="100" height="100">
                                    </a>
                                {% endfor %}
                            {% endfor %}

                        </div>
                    </div>
                {% endif %}
            </div>
            <hr>
            <div class="col-3">

                {% if task.users is not empty %}
                    <h4>People working on this project</h4>
                    <table class="table table-hover">
                        {% for dev in task.users %}
                            <tr>
                                {% if dev.avatar is not empty %}
                                <td scope="col" width="35"><img class="img-circle" src="{{ asset('uploads/')~dev.avatar }}" width="35px" height="35px" align=""></td>
                                {% else %}
                                    <td scope="col" width="35" ><i class="fa fa-user fa-lg"></i></td>
                                {% endif %}
                                <td scope="col">{{ dev.fullName }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="alert alert-warning">No one is working on this task</div>
                {% endif %}

                <h4>Commits</h4>

                {% for commits in task.hoursOnTask %}
                   Developer: {{ commits.user.fullname }} <br>
                   Hours added: {{ commits.hours }}<br>
                   Commit message: {{ commits.message }}<br>
                    <hr>
                {% endfor %}

            </div>
        </div>
        {% if task.completed != 1 %}
        <div class="row">
            <div class="col-9">
                {{ form_start(commentForm) }}
                <div class="card border-success">
                    <div class="card-body">
                        {{ form_row(commentForm.content, {'attr':{class: 'comment'}}) }}
                        {{ form_row(commentForm.images, {'attr':{class: 'form-control'}}) }}
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        <button type="submit" class="btn btn-primary">Add comment</button>
                    </div>
                </div>
                {{ form_end(commentForm) }}
            </div>
        </div>
        {% endif %}

        <div class="modal fade" id="devForm" tabindex="-1" role="dialog" aria-labelledby="devFormTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    {{ form_start(devForm) }}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Assign Developers for this task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col" id="developer-selection">
                                    {% for user in devForm.users %}
                                        {{ form_row(user) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Assign developer</button>
                    </div>
                    {{ form_end(devForm) }}
                </div>
            </div>
        </div>

        <div class="modal fade" id="addHoursForm" tabindex="-1" role="dialog" aria-labelledby="addHoursFormTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    {{ form_start(addHoursForm) }}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add hours to this task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col" id="developer-selection">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit Hours</button>
                    </div>
                    {{ form_end(addHoursForm) }}
                </div>
            </div>
        </div>

        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <img src="" class="imagepreview" style="width: 100%; height: 100%" >
                    </div>
                </div>
            </div>
        </div>






    </div>

{% endblock %}