{% extends 'base.html.twig' %}

{% block title %}
    Task page
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row task-name">
            {{ task.name }}
        </div>
        {% if task.images is empty %}
        {% else %}
        <div class="row task-images">
            {% for image in task.images %}
                <img width=500 height="500" src="{{ asset('uploads/')~image }}"><br>
            {% endfor %}
        </div>
        {% endif %}
        <div class="row task-content">
            {{ task.content }}
        </div>
        <div class="row task comments">
            <h2>Comments</h2><br>
            {% if task.comments is not empty %}
            {% for comment in task.comments %}
                <div class="comment">
                    {{ comment.content }}
                </div>

            {% endfor %}
            {% endif %}
        </div>
        {{ form_start(commentForm) }}
        <button type="submit" class="btn btn-primary">Add comment</button>
        {{ form_end(commentForm) }}
    </div>

{% endblock %}